* {margin: 0; padding: 0; box-sizing: border-box;}
body {
	background: #e3e2e2;
}
section {
	background: #fff;
	margin: auto;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 3px #666;
}
h1 {
	text-align: center;
}
form div.form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-area {
	display: grid;
	padding: 10px;
}
.form-control {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	width: 100%;
}

form div.form-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
span {
	color: #f00;
}
button {
	display: flex;
	border: 1px solid #ccc;
	padding: 5px 30px;
	border-radius: 4px;
	margin: 0px 5px;
	cursor: pointer;
}
.btn-enviar {
	background: #444;
	color: #fff;
}
.btn-enviar:hover {
	background: #111;
}
.btn-limpar, .btn-eliminar {
	background: #ff5050;
	color: #fff;
}
.btn-limpar:hover , .btn-eliminar:hover {
	background: #f00;
}
.btn-editar {
	color: #fff;
	background: #5185ff;
}
.btn-editar:hover {
	background: #2164ff;
}

.form-busca {
	display: flex;
	justify-content: center;
	width: 80%;
}
.form-busca form {
	display: block ruby;
	align-items: center;
}

.tabela {
	display: flex;
	justify-content: center;
}
table {
	width: 80%;
}
table th, table td {
	border: 1px solid #ccc;
	margin: 0;
	padding: 10px;
}
.tabela-control {
	display: flex;
	justify-content: center;
}
